<div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
        <a class="navbar-brand" ><%= link_to "Course", root_path%></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-right-top">
                <li class="nav-item">
                    <div id="custom-search" class="top-search-bar">
                        <input class="form-control" type="text" placeholder="Search..">
                    </div>
                </li>
                <li class="nav-item dropdown notification">
                    <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="display: block; color: red" class="badge">10</span>
                        <i style="display: block; text-align: center;" class="fa fa-bell-o"></i> 
                        <!---<span class="indicator"></span>-->
                        
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                        <li>
                            <div class="notification-title"> Notification</div>
                            <div class="notification-list">
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action active">
                                        <div class="notification-info">
                                            <div class="notification-list-user-img">
                                            	<%= image_tag(image_path('avatar-2.jpg'), class: 'user-avatar-md rounded-circle')%>
                                            	<span>nombre</span>
                                            </div>
                                            <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                <div class="notification-date">2 min ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div class="notification-info">
                                        	
                                            <div class="notification-list-user-img">
                                            	<%= image_tag(image_path('avatar-3.jpg'), class: 'notification-list-user-img')%>
                                            	<!--<img src="assets/images/avatar-3.jpg" alt="" class="user-avatar-md rounded-circle">-->
                                            </div>
                                            <div class="notification-list-user-block"><span class="notification-list-user-name">John Abraham </span>is now following you
                                                <div class="notification-date">2 days ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div class="notification-info">
                                            <div class="notification-list-user-img">
                                            	<%= image_tag(image_path('avatar-4.jpg'), class: 'user-avatar-md rounded-circle')%>
                                            	<!--<img src="assets/images/avatar-4.jpg" alt="" class="user-avatar-md rounded-circle">-->
                                            </div>
                                            <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                <div class="notification-date">2 min ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div class="notification-info">
                                            <div class="notification-list-user-img">
                                            	<%= image_tag(image_path('avatar-5.jpg'), class: 'user-avatar-md rounded-circle')%>
                                            	<!--<img src="assets/images/avatar-5.jpg" alt="" class="user-avatar-md rounded-circle">-->
                                            </div>
                                            <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                <div class="notification-date">2 min ago</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="list-footer"> <a href="#">View all notifications</a></div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown nav-user">
                    <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    	<%= image_tag(image_path('user_icon_default.png'), class: 'user-avatar-md rounded-circle')%>
                        <% if user_signed_in? %>
                            <span class="ml-2"><%=current_user.email%></span>

                        <%end%>
                    	
                    </a>
                    <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                        
                            <% if user_signed_in?%>
                                
                                    <div class="progress blue">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                    <div class="progress-value">90%</div>
                             
                                </h5>
                                <span class="status"></span>
                                <span class="ml-2">Available</span>
                            <%else%>
                                <h5 class="mb-0 text-white nav-user-name">
                                    <%= link_to "LogIn", new_user_session_path%> 
                                </h5>
                            <%end%>
                        </div>
                        <% if user_signed_in?%>
                            <a class="dropdown-item">
                                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                            </a>
                        <%else%>
                            <a class="dropdown-item" >
                                <%= link_to "Sign up",new_user_registration_path %>    
                            </a>
                               
                        <%end%>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>