<%= form_with(model: level, local: true) do |form| %>
  <% if level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(level.errors.count, "error") %> prohibited this level from being saved:</h2>

      <ul>
      <% level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, id: :level_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <div class="actions">
        <%= form.submit "Save", class: "btn btn-primary" %>
      </div>
    <div>
    
  </div>

<% end %>
