<!DOCTYPE html>
<html>
  <head>
  	    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CourseWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="dashboard-main-wrapper">
  		<%= render 'partials/navbar'%>
  		<%= render 'partials/sidebar'%>
      <%= render 'partials/wrapper'%>
    	<%= render 'partials/footer'%>
    <div
    <script src="https://d3js.org/d3.v5.min.js"></script>
  </body>
</html>
